################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BancoSimple2M5/FileContentIndex/c4c885b2-a8ea-499a-81cf-ad69a084f24b.vsidx
/.vs/BancoSimple2M5/FileContentIndex/c5ca9e98-4eb0-4060-9f01-111649eede7c.vsidx
